[Desktop Entry]
Name=Goose
Comment=An AI agent
Exec=goose-desktop
Icon=io.github.block.Goose
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=goose-desktop
